@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">Access Denied.</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <p>Tämän sivun voi muokata haluamanlaisekseen, esim. tehdä "päivitä tähän pakettiin".</p>
</header>

<div class="row">
    <div class="col-xs-12 col-md-8">
        <h2>Päivitä pakettiasi nähdäksesi nämä datat</h2>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th style="text-align:center;">Paketti 1</th>
                <th style="text-align:center;">Paketti 2</th>
                <th style="text-align:center;">Paketti 3</th>
            </tr>
            <tr style="text-align:center;">
                <td></td>
                <td><img src="~/images/kuvanen.svg" class="img-rounded" /></td>
                <td><img src="~/images/kuvanen.svg" class="img-rounded" /></td>
                <td><img src="~/images/kuvanen.svg" class="img-rounded" /></td>
            </tr>
            <tr style="text-align:center;">
                <td>Asia x</td>
                <td>X</td>
                <td>X</td>
                <td>✓</td>
            </tr>
            <tr style="text-align:center;">
                <td>Asia x</td>
                <td>X</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr style="text-align:center;">
                <td>Asia x</td>
                <td>X</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr style="text-align:center;">
                <td>Asia x</td>
                <td>X</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr style="text-align:center;">
                <td>Asia x</td>
                <td>X</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr style="text-align:center;">
                <td></td>
                <td><button type="button" class="btn btn-primary">Tilaa!</button></td>
                <td><button type="button" class="btn btn-primary">Tilaa!</button></td>
                <td><button type="button" class="btn btn-primary">Tilaa!</button></td>
            </tr>
        </table>
    </div>
</div>